/* CONFIGURACIONES GENERALES */
*{
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
    box-sizing: border-box;
}

:root{
    --bk-color: #fff;
    --bk-color-2: #c2ccff; /*#adbaff  #509abc*/
    --color: #000;
    --line-color-header: #bfbfbf;
    --color-h2: #0020d4;
}

.dark_mode{
    --bk-color: #20212d;
    --bk-color-2: #000; /*#000a45  #151723*/
    --color: #fff;
    --line-color-header: #5d5d5d;
    --color-h2: #ffeb3b;
}

h1{
    color: var(--color);
    font-size: 2.5rem;
}

h2{
    color: var(--color-h2);
    font-size: 3rem;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--color);
}

body{
    min-height: 100dvh;
    width: 100%;

}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* BARRA DE NAVEGACION */

header{
    background-color: var(--bk-color);
    outline: solid 1px var(--line-color-header);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 12%;
    left: 50%;
    width: 80%;
    z-index: 10;
    border-radius: 8dvh;
    padding: 2dvh 10dvh;
    transition: background-color 0.3s ease-out;
    transform: translate(-50%, -50%);
}

nav{
    height: 7dvh;
    width: 100%;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.listNav{
    display: flex;
    flex-direction: row;
    gap: 5dvh;
    list-style: none;
}

.itemListNav{
    padding: 8px 10px;
    border-radius: 15px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-out, scale 0.2s ease-in-out;
}

.itemListNav:hover{
    scale: 1.05;
    background-color: var(--bk-color-2);
}

.btnToggleMode{
    display: flex;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 1dvh;
    cursor: pointer;

    transition: background-color 0.3s ease-out, scale 0.2s ease-in-out;
}

.btnToggleMode:hover{
    scale: 1.1;
    background-color: var(--bk-color-2);
}

.btnToggleMode:active{
    outline: none;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* MAIN */
main{
    transition: background-color 0.3s ease-out;
    min-height: 75dvh;
    background-color: var(--bk-color);
    display: flex;
    flex-direction: column;
    gap: 30dvh;
    padding: 10dvh 13dvh;
}

main section:first-child{
    margin-top: 15dvh;
}


section{
    min-height: 65dvh;
    background-color: cadetblue;
    padding: 5dvh;
}


/* CONTENT INFORMACION */

.ctnInfo{
    display: flex;
    flex-direction: column;
    gap: 4dvh;
    background-color: transparent;
}

.contenidoInfo{  
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4dvh;
    color: var(--color);
    width: 90%;
    margin: auto;
    padding: 1dvh;
}

.contenidoInfo p{
    display: flex;
    align-items: center;
    border-radius: 17px;
    text-align: center;
    background-color: var(--bk-color);
    filter: drop-shadow(0 0 10px var(--bk-color-2));
    padding: 6dvh 6dvh;
    outline: solid 1px var(--line-color-header);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* CONTENT COMO USAR */
.ctnComoUsar{
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    gap: 4dvh;
}

.ctnComoUsar::after, .ctnComoUsar::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    translate: -50% -50%;
    z-index: -1;
    background: radial-gradient(var(--bk-color), white);
}

.listComoUsar{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5dvh;
    padding: 0 3dvh;
    text-align: center;
}

.itemListComoUsar{
    display: flex;
    flex-direction: column;
    gap: 2dvh;
}

.itemListComoUsar img{
    width: 100%;
    border-radius: 15px;
}

.resaltador{
    color: var(--color-h2);
}

.contenidoComoUsar{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 4dvh;
    color: var(--color);
    width: 80%;
    margin: auto;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* FOOTER */
footer{
    min-height: 30dvh;
    background-color: aqua;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */