/* CONFIGURACIONES GENERALES */
*{
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
    box-sizing: border-box;
}

:root{
    --bk-color: #f0f0f0;
    --bk-color-2: #c2ccff; /*#adbaff  #509abc*/
    --color: #090713;
    --line-color-header: #bfbfbf;
    --color-h2: #0020d4;
    --filter-img-pgt: #e861ff;
    --bk-btn-repo: #c2ccff;
    --filter-color: #f3afff;
    --filter-color-2: #673AB7;
    --filter-color-3: #7dd7ff;
    --color-hero: #4e54c8;
}

.dark_mode{
    --bk-color: #20212d;
    --bk-color-2: #020617; /*#000a45  #151723*/
    --color: #f3f3f3;
    --line-color-header: #5d5d5d;
    --color-h2: #ffeb3b;
    --filter-img-pgt: #ff9800;
    --bk-btn-repo: #fff;
    --filter-color: #3F51B6;
    --filter-color-2: #0027ff;
    --filter-color-3: #76052c;
    --color-hero: #090713 ;
}

h1{
    color: var(--color);
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    font-weight: 600;
}


h2{
    color: var(--color-h2);
    font-size: 3rem;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--color);
}

body{
    min-height: 100dvh;
    width: 100%;
    transition: background-color 0.2s ease-out;
    background-color: var(--bk-color);
}


.scroll-element {
  opacity: 0;
  transform: translateY(100px) scale(0.8); /* empieza abajo y más pequeño */
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.scroll-element.visible {
  opacity: 1;
  transform: translateY(0) scale(1); /* vuelve a su lugar y tamaño real */
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.hero-title{
    color: #fff !important;
}

/* ------------------ HERO --------- */

/* BARRA DE NAVEGACION */

header{
    background-color: var(--bk-color);
    outline: solid 1px var(--line-color-header);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 8%;
    left: 50%;
    width: 80%;
    z-index: 10;
    border-radius: 8dvh;
    opacity: 0.90;
    filter: drop-shadow(0px 5px 6px var(--bk-color-2));
    padding: 2dvh 10dvh;
    transition: background-color 0.3s ease-out;
    transform: translate(-50%, -50%);
}

.logo{
    min-height: 40px;
    max-height: 40px;
    display: flex;
    gap: 1dvh;
    flex-direction: row;
}

.logo img{
    object-fit: contain;
}

.menu{
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 7px;
    border-radius: 10px;
    cursor: pointer;

    transition: background-color 0.3s ease-out, scale 0.2s ease-in-out;
}

.menu:hover{
    background-color: var(--bk-color-2);
    scale: 1.05;
}

.lineMenu{
    height: 5px;
    width: 100%;
    background-color: var(--color);
    border-radius: 5px ;
}

.menuDesplegado{
    display: none;
}

.listNavMin{
    position: fixed;
    top: 125%;
    left: 55%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    background-color: var(--bk-color);
    padding: 1px;
    outline: solid 2px var(--line-color-header);
    opacity: 0;
    text-align: center;
    border-radius: 15px;
    scale: 1;

    visibility: hidden;

    transition: background-color 0.2s, padding 0.2s, scale 0.2s, opacity 0.2s, visibility 0.2s;
}

.listNavMin-act{
    padding: 1dvh;
    scale: 1.1;
    opacity: 1;
    visibility: visible;
}

.itemListNavMin{
    padding: 6px 13px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in;
}

.itemListNavMin:hover{
    background-color: var(--bk-color-2);
    color: var(--color-h2);
}

nav{
    height: 7dvh;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.listNav{
    display: flex;
    flex-direction: row;
    gap: 5dvh;
    list-style: none;
    align-items: center;
}

.itemListNav{
    padding: 8px 10px;
    border-radius: 15px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-out, scale 0.2s ease-in-out;
}

.itemListNav:hover{
    scale: 1.05;
    background-color: var(--bk-color-2);
    color: var(--color-h2);
}

.btnToggleMode{
    display: flex;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 1dvh;
    cursor: pointer;

    transition: background-color 0.3s ease-out, scale 0.2s ease-in-out;
}

.btnToggleMode:hover{
    scale: 1.1;
    background-color: var(--bk-color-2);
}

.btnToggleMode:active{
    outline: none;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* MAIN */
main{
    min-height: 75dvh;
    display: flex;
    flex-direction: column;
    gap: 20dvh;
    padding: 10dvh 13dvh;
}

main section:first-child{
    margin-top: 0dvh;
}


section{
    min-height: 65dvh;
    background-color: cadetblue;
    padding: 5dvh;
}

/* CONTENT INICIO */

.ctnInicio{
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    background-color: transparent;
}

.contenidoInicio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10dvh;
}

.ctnInputImage{
    display: flex;
    flex-direction: column;
    padding: 0dvh 6dvh;
    align-items: center;
    border-radius: 20px;
    gap: 2dvh;

    filter: drop-shadow(-46px 33px 94px var(--filter-color));
}

.previewImage{
    min-height: 425px;
    max-height: 425px;
    display: flex;
    padding: 1dvh;
    border-radius: 15px;
    width: 100%;
}

.previewImage img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 10px var(--bk-color-2));
}

.diseñoSeleccionar{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
    align-items: center;
    gap: 1dvh;
    width: 100%;
    justify-content: center;
    color: white;
    background-color: rgb(50, 117, 241);
    filter: drop-shadow(2px 4px 6px var(--bk-color-2));
    
    transition: background-color 0.3s ease-in-out;
}

.diseñoSeleccionar:hover{
    background-color: rgb(84, 140, 246);
}

.inputImage{
    display: flex;
    cursor: pointer;
    width: 100%;
}

input{
    display: none;
}

.btnImage{
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    width: 100%;
    background-color: #b6ff6d;
    filter: drop-shadow(2px 4px 6px var(--bk-color-2));
}




.ctnResultado{
    display: flex;
    flex-direction: column;
    /* gap: 1dvh; */
    padding: 0 9dvh;
    justify-content: center;
}

.previewResult{
    display: flex;
    padding: 4dvh;
    border-radius: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.textResult{
    padding: 1dvh;
    color: var(--color);
    background: linear-gradient(90deg, red, #FF5722, #FF9800, #FF5722, #F44336);
    text-align: center;
    font-size: 1.5rem;
    border-radius: 15px;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* CONTENT INFORMACION */

.ctnInfo{
    display: flex;
    flex-direction: column;
    gap: 4dvh;
    background-color: transparent;

    filter: drop-shadow(88px 8px 70px var(--filter-color-2));
}

.contenidoInfo{  
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4dvh;
    color: var(--color);
    width: 90%;
    margin: auto;
    padding: 1dvh;
}

.contenidoInfo p{
    display: flex;
    align-items: center;
    border-radius: 17px;
    text-align: center;
    padding: 0dvh 6dvh;
}

.btnRepo{
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 1.1rem;
    width: fit-content;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    gap: 3dvh;
    border: none;
    cursor: pointer;
    color: black;
    background-color: var(--bk-btn-repo);

    transition: scale 0.3s ease-in-out;
}

.btnRepo:hover{
    scale: 1.1;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* CONTENT COMO USAR */
.ctnComoUsar{
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    gap: 4dvh;
}

/* .ctnComoUsar::after, .ctnComoUsar::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    translate: -50% -50%;
    z-index: -1;
    background: radial-gradient(var(--bk-color), white); 
} 
*/

.listComoUsar{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5dvh;
    padding: 0 3dvh;
    text-align: center;

    filter: drop-shadow(-200px 37px 150px var(--filter-color-3));
}

.itemListComoUsar{
    display: flex;
    flex-direction: column;
    gap: 2dvh;
}

.itemListComoUsar img{
    width: 100%;
    border-radius: 15px;
}

.resaltador{
    color: var(--color-h2);
}

.contenidoComoUsar{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 4dvh;
    color: var(--color);
    width: 80%;
    margin: auto;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* FAQ */

.ctnFAQ{
    display: flex;
    flex-direction: column;
    gap: 5dvh;
    background-color: transparent;
}

.contenidoFAQ{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4dvh;
}

.ctnPreguntas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2dvh;
}

.Pregunta{
    background-color: var(--bk-color-2);
    border-radius: 15px;
}

.Pregunta p:first-child{
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    color: var(--color-h2);
}

.Pregunta p{
    color: var(--color);
    padding: 15px 18px;
}

.ctnImageFAQ img{
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(-19px 6px 83px var(--filter-img-pgt));
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* FOOTER */
.line_division{
    margin: auto;
    height: 1px;
    border: none;
    background: linear-gradient(90deg, var(--line-color-header),var(--color-h2),var(--bk-color-2) );
}

footer{
    display: flex;
    flex-direction: column;
    gap: 10dvh;
    padding: 5dvh 15dvh;
    margin: 5dvh auto 0;
}

.contentPrincipalFooter{
    display: grid;
    justify-content: space-evenly;
    gap: 13dvh;
}

.ctnTextFooter{
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    color: var(--color);
}

.ctnTextFooter p{
    padding: 8px 5px;
}

.ctnTextFooter a{
    padding: 8px 5px;
    border-radius: 10px;
    text-align: center;

    transition: background-color 0.2s ease-in-out;
}

.ctnTextFooter a:hover{
    background-color: var(--bk-color-2);
}

.ctnTextFooter p:first-child{
    text-align: center;
    font-size: 1.2rem;
    border-bottom: solid 2px var(--color);
    color: var(--color);
    font-weight: 600;
}

.textSecond{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #b1b1b1;
    padding: 2dvh 0;
    gap: 10dvh;
}

.logoFooter{
    display: grid;
    color: var(--color);
    /* grid-template-columns: repeat(2, 1fr); */
    grid-column-start: 1;
    grid-column-end: 3;
    justify-items: center;
    align-content: center;
    gap: 1dvh;

}

h3{
    font-size: 2.3rem;
}


.ctn2{
    grid-column-start: 3;
    grid-column-end: 4; 
}

.ctn3{
    grid-column-start: 4;
    grid-column-end: 5;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */